---
const posts = Object.values(
	import.meta.glob("../pages/*/**.astro", { eager: true }),
);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<ul class="list">
			{
				posts.map((item: any) => (
					<li>
						<a href={`${item.url}`}>{item.url}</a>
					</li>
				))
			}
		</ul>
	</body>
</html>

<style>
	.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		height: 100%;
	}
</style>
